{% extends 'layouts/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">{{ body_title }}</h1>

    <a href="{% url 'task.list' %}" class="btn btn-primary text-uppercase mb-3">Back</a>
    <div class="card">
        <div class="card-header">
            <h3>CREATE FORM</h3>
        </div>
        <div class="card-body">
            <form action="{% url 'task.create' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-primary text-uppercase" type="submit">create</button>
            </form>
        </div>
        <div class="card-footer">
            {% if msg %}
            {{ msg }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}